<!DOCTYPE html>
<html>
  <head>
    <title>QueerhubWeb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# changed per https://dev.to/tcgumus/how-to-install-tailwind-css-on-rails-6-0-2h3f %>
    <%= stylesheet_pack_tag 'stylesheets', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
